/* Container principal */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Filtros */
.filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Filtros de categorias */
.category-filters {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 20px; /* Espaçamento entre os filtros de categoria e os outros filtros */
}

.category-filters button {
    margin: 0 10px;
    padding: 15px 30px; 
    border: 1px solid black;
    border-radius: 20px; /* Arredondar os botões */
    background-color: black; /* Cor de fundo dos botões */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-filters button:hover {
    background-color: grey; /* Cor de fundo ao passar o mouse */
}

/* Filtros de ordenação e preço */
.sort-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.sort-filter button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px; /* Arredondar os botões */
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-filter button:hover {
    background-color: grey;
}

/* Filtros de preço */
.price-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.price-filter input {
    margin: 5px 0;
    width: 100px;
    padding: 11px 8px; 
    border: 1px solid black;
    border-radius: 20px; /* Arredondar os campos de input */
}

/* Lista de produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list .product-item {
    margin: 10px;
    width: 200px; 
}

/* Paginação */
.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 5px;
    padding: 10px 20px; 
    border: 1px solid black;
    border-radius: 20px; 
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: grey;
}

.edit-button, .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px; /* Espaço entre os botões */
}

.edit-button {
    background-color: gray;
}

.edit-button:hover {
    background-color: rgb(87, 86, 86);
}

.delete-button {
    background-color: #f44336; 
}

.delete-button:hover {
    background-color: #e53935;
}


/* Responsividade */
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .category-filters {
        margin-bottom: 10px;
    }

    .sort-filter {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .price-filter {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-list .product-item {
        width: 100%;
        max-width: 300px; 
    }
}

@media (max-width: 480px) {
    .category-filters button,
    .sort-filter button,
    .pagination button {
        width: 100%;
        padding: 10px;
    }

    .price-filter input {
        width: 100%;
        padding: 10px;
    }
}