body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.logo {
    height: 50px; /* Ajuste a altura conforme necessário */
    margin-right: 20px; /* Espaçamento entre o logotipo e o menu */
}

nav {
    margin-left: auto; /* Alinha o menu à direita */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.filters {
    margin: 20px;
    text-align: center;
}

.filters button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.filters button:hover {
    background-color: #555;
}
